body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right, #ffe6e6, #e6f7ff);
}
.margen-icono {
  margin-right: 10px;
}

.icono-rojo {
  color: red;
}

.icono-azul {
  color: blue;
}

.boton {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  margin: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 120px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.imagen-principal {
  width: 300px;
  border-radius: 15px;
  margin-top: 20px;
}